@import "tailwindcss";

@theme {
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-800: #9a3412;
  --color-orange-900: #7c2d12;
  --color-orange-950: #431407;
  
  --color-green-50: #eeffef;
  --color-green-100: #d7ffdd;
  --color-green-200: #b3ffbb;
  --color-green-300: #77fe88;
  --color-green-400: #35f34d;
  --color-green-500: #0bdd27;
  --color-green-600: #02b71b;
  --color-green-700: #068f19;
  --color-green-800: #0b7019;
  --color-green-900: #0b5c18;
  --color-green-950: #003409;
  
  --color-dark: #0a0a0a;
  --color-dark-secondary: #171717;
  --color-dark-tertiary: #262626;
  
  --color-light: #fafafa;
  --color-light-secondary: #a3a3a3;
  --color-light-tertiary: #737373;
}