@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-bg-main: #0a0a0a;
	--color-bg-secondary: #171717;
	--color-text-main: #fafafa;
	--color-text-secondary: #a3a3a3;
	--color-accent: #ea580c;
}

.light {
	--color-bg-main: #fafafa;
	--color-bg-secondary: #e5e5e5;
	--color-text-main: #0a0a0a;
	--color-text-secondary: #737373;
	--color-accent: #02b71b;
}

html {
	transition:
		background-color 0.3s,
		color 0.3s;
}
