@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg-main: #121212;      
    --color-bg-secondary: #1E1E1E; 
    --color-text-main: #FFFFFFD9;   
    --color-text-secondary: #9E9E9E;
    --color-accent: #ea580c; 
}
.light {
	--color-bg-main: #f8fafc;
	--color-bg-secondary: #ececec;
	--color-text-main: #0f172a;
	--color-text-secondary: #64748b;
	--color-accent: #02a118;
}

html {
	transition:
		background-color 0.3s,
		color 0.3s;
}

@tailwind components;

.focus-visible-ring:focus-visible {
	outline: 2px solid var(--color-accent); 
  outline-offset: 2px;
  border-radius: 4px;
}

@tailwind utilities;