---
const links = [
    { name: "Home", href: "/" },
    { name: "Projects", href: "/projects" },
    { name: "About", href: "/about" },
    { name: "Contact", href: "/contact" },
];

const currentPath = Astro.url.pathname;

const isActive = (href) => {
    if (href === '/') {
        return currentPath === '/';
    }
    return currentPath.startsWith(href);
};
---

<nav class="hidden md:flex items-center space-x-2 md:space-x-4">
    {links.map((link) => (
        <a 
            href={link.href}
            class:list={[
                "px-3 py-2 rounded-lg transition font-medium text-lg focus-visible-ring relative",
                {
                    "bg-bg-secondary text-accent": isActive(link.href),
                    "text-text-secondary hover:text-text-main link-nav-desktop": !isActive(link.href)
                }
            ]}
        >
            {link.name}
        </a>
    ))}
</nav>

<style>
    .link-nav-desktop {
        position: relative;
    }
    
    .link-nav-desktop::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--color-accent);
        transition: width 0.3s ease;
    }
    
    .link-nav-desktop:hover::after {
        width: 100%;
    }
</style>