---
import DesktopNavigation from "./DesktopNavigation.astro";
import MobileMenu from "./MobileMenu.svelte";

const navLinks = [
	{ name: "Home", href: "/" },
	{ name: "Projects", href: "/projects" },
	{ name: "About", href: "/about" },
	{ name: "Contact", href: "/contact" },
];

const currentPath = Astro.url.pathname;
---

<header class="sticky top-0 z-50 bg-bg-main border-b border-border-main shadow-md">
	<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
		<div class="flex justify-between items-center h-16">
			<a href="/" class="text-xl font-bold text-text-main hover:text-accent transition z-50 focus-visible-ring">
				Joshua Phillips
			</a>

			<DesktopNavigation />
            
			<div class="md:hidden">
                <MobileMenu 
                    client:load 
                    navLinks={navLinks} 
                    currentPath={currentPath}
                />
            </div>
		</div>
	</div>
</header>